body {
  font-family: sans-serif;
  text-align: center;
  input {
    margin-bottom: 10px;
  }
  .result {
    width: 100%;
    overflow-x: auto;

    table {
      border-collapse: collapse;
      border: 3px solid purple;
      th {
        border: 1px solid purple;
      }
      td {
        border: 1px solid purple;
      }
    }
  }
}

